.ClassicZeldaLootPage-description {
  margin-bottom: 2rem;
  max-width: 500px;
}

.ClassicZeldaLootPage-Field {
  font-size: 1rem;
}

.ClassicZeldaLootPage-Label {
  font-weight: bold;
  display: inline-block;
  min-width: 11rem;
}

.ClassicZeldaLootPage-Button {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  margin: 2rem 2rem 2rem 0;
}

.ClassicZeldaLootPage-DropTable th {
  padding-bottom: 1.25rem;
}

.ClassicZeldaLootPage-ItemHeart,
.ClassicZeldaLootPage-ItemBomb,
.ClassicZeldaLootPage-ItemRupee1,
.ClassicZeldaLootPage-ItemRupee5,
.ClassicZeldaLootPage-ItemFairy,
.ClassicZeldaLootPage-ItemMagicalClock {
  background-image: url(/zelda-item-spritesheet.png);
  background-position-y: 0px;
  background-size: cover;
  image-rendering: pixelated;
  width: 64px;
  height: 64px;
  margin: 0 1rem;
}

.ClassicZeldaLootPage-ItemBomb {
  background-position-x: -64px;
}

.ClassicZeldaLootPage-ItemRupee1 {
  background-position-x: -128px;
}

.ClassicZeldaLootPage-ItemRupee5 {
  background-position-x: -192px;
}

.ClassicZeldaLootPage-ItemFairy {
  background-position-x: -256px;
}

.ClassicZeldaLootPage-ItemMagicalClock {
  background-position-x: -320px;
}
