.App {
  display: flex;
}

.App-nav {
  padding-left: 2rem;
}

.App-navlist {
  list-style-type: none;
  padding: 0;
}

.App-navlist li {
  margin-bottom: 0.5rem;
}

.App-divider {
  background-color: white;
  margin: 0 2rem;
  width: 2px;
  height: 100vh;
}
